---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="section">
  <div class="wrapper home charities">
    <h2>Charities</h2>
    <p class="center">
      All the money we're raising is going directly to 3 nominated charities. Please click on the logos below
      to donate to your preferred charity. <a href="https://whitechapel.org.uk/">Whitechapel Mission</a> serves the homeless and marginalised in Whitechapel, London. <a href="http://www.nosecondnightout.org.uk/">No second night out</a> is committed to ending rough sleeping in London. <a href="http://www.sea-cadets.org/chelmsford/home.aspx">The Sea Cadets</a> are the UKs oldest nautical youth charity.
      <br/>
    </p>
    <ul class='badges charities'>
      <li>
        <a href="https://www.justgiving.com/crowdfunding/nigel-bunton-3">
          <img src="https://whitechapel.org.uk/themes/poppy/img/logo.png">
        </a>
        <a href="https://www.justgiving.com/crowdfunding/nigel-bunton-1">Donate to<br/>Whitechapel Mission</a>
      </li>
      <li>
        <a href="https://www.justgiving.com/crowdfunding/nigel-bunton">
          <img src="/assets/Upholder_crest2.gif">
        </a>
        <a href="https://www.justgiving.com/crowdfunding/nigel-bunton">Donate to<br/>Chelmsford Sea Cadets</a>
      </li>
      <li>
        <a href="https://www.justgiving.com/crowdfunding/nigel-bunton-2">
          <img src="/assets/black_logos2.png">
        </a>
        <a href="https://www.justgiving.com/crowdfunding/nigel-bunton-2">Donate to<br/>No Second Night Out</a>
      </li>
    </ul>
  </div>
</div>


<div class="section dark">
  <div class="wrapper home charities">
    <h2>Photo Stream</h2>
    <p class="center">
      Keep up with our training and the rides on instagram. we're the <a href="https://instagram.com/cyclingknights">@cyclingknights</a>.
      <br/>
    </p>
    <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <iframe src="//lightwidget.com/widgets/a2e1142235045ca29892474d7ec5bf9a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  </div>
</div>

<div class="section">
  <div class="wrapper home">
    <h2>Blog</h2>
    <ul class="post-list">
      {% for post in paginator.posts limit:4 %}
      {% comment %} Is this really the recommended way to filter things in Liquid? Yuk! {% endcomment %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <section class="post-excerpt" itemprop="description">
          <p>{{ post.content | strip_html | truncatewords: 16 }}</p>
        </section>
        <section class="post-meta">
          <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
          <div class="post-categories">
            {% if post.categories.size > 0 %}in {% for cat in post.categories %}
            {% if site.jekyll-archives %}
            <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
            {% else %}
            <span>{{ cat | capitalize }}</span>{% if forloop.last == false %}, {% endif %}
            {% endif %}
            {% endfor %}{% endif %}
          </div>
        </section>
      </li>
      <hr>
      {% if forloop.last == false %}
      {% endif %}
      {% endfor %}
    </ul>

    <a class='center' href="/blog/">View full blog</a>
  </div>
</div>

<div class="section dark">
  <div class="wrapper home center">
    <h2>How's the training going?</h2>
    <iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/200921/latest-rides/1b25f393dcacaaaa0b32a534064a7dc1c076846f?show_rides=true'></iframe>
  </div>
</div>

<div class="section">
  <div class="wrapper home sponsors">
    <h2>Sponsors</h2>
    <ul class='badges'>
      <li>
        <a href="https://group.canarywharf.com">
          <img src="/assets/sponsors/cwg_logo_small.png">
        </a>
      </li>
      <li>
        <a href="http://storelocator.asda.com/store/isle-of-dogs">
          <img src="/assets/sponsors/asda.png">
        </a>
      </li>
      <li>
        <a href="https://www.evanscycles.com">
          <img src="/assets/sponsors/evans.png">
        </a>
      </li>
      <li>
        <a href="https://www.santander.co.uk/uk/index">
          <img src="/assets/sponsors/santander.png">
        </a>
      </li>
      <li>
        <a href="https://stores.sainsburys.co.uk/0460/whitechapel">
          <img src="/assets/sponsors/sainsburys.png">
        </a>
      </li>
      <li>
        <a href="http://www.elmycycles.co.uk/">
          <img src="/assets/sponsors/elmy.png">
        </a>
      </li>
      <li>
        <a href="http://www.tesco.com/store-locator/uk/?bID=2152">
          <img src="/assets/sponsors/tesco.png">
        </a>
      </li>
    </ul>
    <p class="center">
      A big thanks to our kind sponsors for all their support!
    </p>
  </div>
</div>


<div class="section dark">
  <div class="wrapper home route">
    <h2>Route</h2>
    {% for route in site.categories.Route reversed %}
    <li>
      <strong class='route-title'>
        <a href="{{ route.url | prepend: site.baseurl }}">{{ route.title }}</a>
      </strong>
      <span class='meta'>Distance: {{route.distance}}. Elevation: {{ route.elevation }}</span>
    </li>
    {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
  <br/>
</div>
</div>

<div class="section ">
  <div class="wrapper home">
    <h2>Meet the Team</h2>
    <p class="center">
      We are 8 cyclists and 1 driver.
    </p>
    <ul class='badges people'>
      <li>
        <a class='center' href="/about#chris">
          <img src="/assets/team/chris.png">
        </a>
        </li><li>
        <a class='center' href="/about#dave">
          <img src="/assets/team/dave.png">
        </a>
      </li>
      <li>
        <a class='center' href="/about#baggy">
          <img src="/assets/team/baggy.jpg">
        </a>
      </li>
      <li>
        <a class='center' href="/about#keith">
          <img src="/assets/team/kieth.png">
        </a>
      </li>
      <li>
        <a class='center' href="/about#nigel">
          <img src="/assets/team/nigel.png">
        </a>
      </li>
      <li>
        <a class='center' href="/about#steve">
          <img src="/assets/team/steve.png">
        </a>
      </li>
      <li>
        <a class='center' href="/about#mike">
          <img src="/assets/team/mike.png">
        </a>
      </li>
      <li>
        <a class='center' href="/about#fitz">
          <img src="/assets/team/fitz.png">
        </a>
      </li>
      <li>
        <a class='center' href="/about#sean">
          <img src="/assets/team/sean.jpg">
        </a>
      </li>
    </ul>
    <a class='center' href="/about/">Find out more</a>
  </div>
</div>

</div>
